.google {
	font-family: arial,sans-serif;
}
.google a {
	font-size: 18px;
}

.glink {
	color: #006621;
	font-size: 14px;
}

.gdesc {
	line-height: 1.4;
	word-wrap: break-word;
	color: #545454;
	font-size: small;
}

.controls label {
	display: inline-block;
	width: 90px;
	height: 20px;
	text-align: center;
	vertical-align: top;
	padding-top: 40px;
}

.controls input {
	display: block;
	margin: 0 auto -40px;
}

.main-content {
	margin-left: 30%;
}

.radio label {
	display: inline;
	width: 80px;
	height: 0px;
	text-align: center;
	vertical-align: top;
}
.radio input {
	display: inline;
	margin: 0 auto -40px;
}

ul {
	list-style-image: url('../img/bm_bullet.png');
}

#prev {
	display: none;
	text-align: right;
}

#next {
	display: none;
}

.page {
	margin-left: 15px;
	display: inline-block;
}

.center {
	text-align: center;
}
