<div class="pure-menu">
	<a class="pure-menu-heading" href="index.html">BATMat</a>

	<ul class="pure-menu-list">
		<li class="pure-menu-item"><a href="index.html" class="pure-menu-link">Home</a></li>
		<li class="pure-menu-item"><a href="about.html" class="pure-menu-link">About</a></li>
		<li class="pure-menu-item"><a href="sources.html" class="pure-menu-link">Sources</a></li>
		<li class="pure-menu-item"><a href="api.html" class="pure-menu-link">Embed &amp; API</a></li>
		<li class="pure-menu-item"><a href="contact.html" class="pure-menu-link">Contact</a></li>
	</ul>
</div>
